<?xml version="1.0"?>
<!--
/**
 * Magedelight
 * Copyright (C) 2019 Magedelight <info@magedelight.com>
 *
 * @category Magedelight
 * @package Magedelight_Customerprice
 * @copyright Copyright (c) 2019 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magedelight_Customerprice::customerprice_root"
             title="Price Per Customer"
             module="Magedelight_Customerprice"
             sortOrder="45"
             resource="Magedelight_Customerprice::root"
             toolTip="magedelight_base" />

        <add id="Magedelight_Customerprice::customerprice_root_commonlyvisible"
             title="Price Per Customer"
             module="Magedelight_Customerprice"
             sortOrder="45"
             parent="Magedelight_Base::md_modules"
             resource="Magedelight_Customerprice::root" />

        <add id="Magedelight_Customerprice::config_root"
             title="Configuration"
             module="Magedelight_Customerprice"
             sortOrder="500"
             action="adminhtml/system_config/edit/section/customerprice"
             parent="Magedelight_Customerprice::customerprice_root"
             resource="Magedelight_Customerprice::config_root" />

        <add id="Magedelight_Customerprice::useful_links"
             title="Useful Links"
             module="Magedelight_Customerprice"
             sortOrder="999"
             parent="Magedelight_Customerprice::customerprice_root"
             resource="Magedelight_Customerprice::root" />

        <add id="Magedelight_Customerprice::documentation"
             title="Documentation"
             module="Magedelight_Customerprice"
             sortOrder="10"
             target="_blank"
             parent="Magedelight_Customerprice::useful_links"
             resource="Magedelight_Customerprice::root" />
    </menu>
</config>